.row-fluid
    .control-group
        .controls
          fieldset
            b SMaaRTSHOP
            table(style='width: 45%; float: right;')
            tbody
              tr
                td
                  i Urban Tandoor
      br
      .sec_tab
        table(border='1', width='100%')
          tr
            td Find SMaaRTSHOP(s)
            td Earn Points
      br
      form(action='', method='post')
        fieldset
          br
          br
          label Unique QR Code
          br
          br
        br
        br
        fieldset
          label SMaaRT# 7894561232A
        br
        br
      .sec_tab
        table(border='1', width='100%')
          tr
            td Home
            td Settings
            td Offers
            td Points
